[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "public"]
	path = public
	url = https://github.com/goutham-alvyl/alvyl.github.io.git
	branch = master
